<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog</h1>
        </a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create</a></li>
    </ul>
</nav>