<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="about content">
        <p>Lots of schtuff about the site</p>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>